In [1]:
import pandas as pd;

In [3]:
weather_data=pd.read_csv(r"D:\weather_data.csv");

In [6]:
weather_data.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,01-01-2012,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-2012,-1.8,-3.7,87,4,8.0,101.24,Fog
2,01-01-2012,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,01-01-2012,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,01-01-2012,-1.5,-3.3,88,7,4.8,101.23,Fog

In [7]:
weather_data.tail(4)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [8]:
weather_data.index

RangeIndex(start=0, stop=8784, step=1)

In [9]:
weather_data.shape

(8784, 8)

In [10]:
weather_data.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

In [13]:
weather_data.dtypes

Date/Time            object
Temp_C              float64
Dew Point Temp_C    float64
Rel Hum_%             int64
Wind Speed_km/h       int64
Visibility_km       float64
Press_kPa           float64
Weather              object
dtype: object

In [14]:
weather_data['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [15]:
weather_data.nunique()

Date/Time           5472
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

In [16]:
weather_data['Visibility_km'].unique()

array([ 8. ,  4. ,  4.8,  6.4,  1.2, 12.9, 16.1, 25. , 19.3, 24.1,  9.7,
       11.3, 48.3,  3.2,  2.8,  2.4,  2. ,  0.8,  0.6,  1. ,  1.6,  3.6,
        0.2,  0.4])

In [18]:
weather_data['Visibility_km'].nunique()

24

In [20]:
weather_data.count()

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

In [22]:
weather_data['Weather'].count()

8784

In [26]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [21]:
weather_data['Weather'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Snow,Ice Pellets                              6
Snow,Haze                                     5
Snow Showers,Fog                              4
Freezing Rain,Fog                             4
Freezing Fog                                  4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Rain,Haze                                     3
Thunderstorms,Rain                            3
Freezing Drizzle,Haze                         3
Thunderstorms,Rain Showers,Fog                3
Thunderstorms                                 2
Rain Showers,Snow Showers                     2
Moderate Snow,Blowing Snow                    2
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Freezing Rain,Ice Pellets,Fog                 1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Heavy Rain Showers              1
Moderate Rain,Fog                             1
Thunderstorms,Rain,Fog                        1
Rain Showers,Fog                              1
Drizzle,Ice Pellets,Fog                       1
Rain,Ice Pellets                              1
Rain,Snow,Fog                                 1
Snow Pellets                                  1
Freezing Rain,Snow Grains                     1
Rain,Snow Grains                              1
Name: Weather, dtype: int64

In [27]:
weather_data.Weather.nunique()

50

# Data analysis using python on Weather dataset

q1.Find all the unique wind speed values from the weather data?

In [28]:
weather_data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,01-01-2012,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-2012,-1.8,-3.7,87,4,8.0,101.24,Fog

In [30]:
weather_data['Wind Speed_km/h'].unique()

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2],
      dtype=int64)

In [31]:
weather_data['Wind Speed_km/h'].value_counts()

9     830
11    791
13    735
15    719
7     677
17    666
19    616
6     609
20    496
4     474
22    439
24    374
0     309
26    242
28    205
30    161
32    139
33     85
35     53
37     45
39     24
41     22
44     14
43     13
48     13
46     11
52      7
57      5
50      4
2       2
63      1
54      1
70      1
83      1
Name: Wind Speed_km/h, dtype: int64

q2.Find the number of times when weather is exactly clear?

In [32]:
weather_data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,01-01-2012,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-2012,-1.8,-3.7,87,4,8.0,101.24,Fog

In [33]:
weather_data['Weather'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Snow,Ice Pellets                              6
Snow,Haze                                     5
Snow Showers,Fog                              4
Freezing Rain,Fog                             4
Freezing Fog                                  4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Rain,Haze                                     3
Thunderstorms,Rain                            3
Freezing Drizzle,Haze                         3
Thunderstorms,Rain Showers,Fog                3
Thunderstorms                                 2
Rain Showers,Snow Showers                     2
Moderate Snow,Blowing Snow                    2
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Freezing Rain,Ice Pellets,Fog                 1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Heavy Rain Showers              1
Moderate Rain,Fog                             1
Thunderstorms,Rain,Fog                        1
Rain Showers,Fog                              1
Drizzle,Ice Pellets,Fog                       1
Rain,Ice Pellets                              1
Rain,Snow,Fog                                 1
Snow Pellets                                  1
Freezing Rain,Snow Grains                     1
Rain,Snow Grains                              1
Name: Weather, dtype: int64

In [34]:
weather_data[weather_data['Weather']=='Clear']

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,01-03-2012,-16.9,-24.8,50,24,25.0,101.74,Clear
114,01-05-2012,-7.1,-14.4,56,11,25.0,100.71,Clear
115,01-05-2012,-9.2,-15.4,61,7,25.0,100.80,Clear
116,01-05-2012,-9.8,-15.7,62,9,25.0,100.83,Clear
117,01-05-2012,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

In [37]:
weather_data.groupby('Weather').get_group('Clear')

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,01-03-2012,-16.9,-24.8,50,24,25.0,101.74,Clear
114,01-05-2012,-7.1,-14.4,56,11,25.0,100.71,Clear
115,01-05-2012,-9.2,-15.4,61,7,25.0,100.80,Clear
116,01-05-2012,-9.8,-15.7,62,9,25.0,100.83,Clear
117,01-05-2012,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

q3.Find the number of times when the wind speed is exactly 4?

In [38]:
weather_data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,01-01-2012,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-2012,-1.8,-3.7,87,4,8.0,101.24,Fog

In [39]:
weather_data[weather_data['Wind Speed_km/h']==4]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,01-01-2012,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-2012,-1.8,-3.7,87,4,8.0,101.24,Fog
96,01-05-2012,-8.8,-11.7,79,4,9.7,100.32,Snow
101,01-05-2012,-7.0,-9.5,82,4,4.0,100.19,Snow
146,01-07-2012,-8.1,-11.1,79,4,19.3,100.15,Cloudy
...,...,...,...,...,...,...,...,...
8768,12/31/2012 8:00,-8.6,-10.3,87,4,3.2,101.14,Snow Showers
8769,12/31/2012 9:00,-8.1,-9.6,89,4,2.4,101.09,Snow
8770,12/31/2012 10:00,-7.4,-8.9,89,4,6.4,101.05,"Snow,Fog"
8772,12/31/2012 12:00,-5.8,-7.5,88,4,12.9,100.78,Snow
8773,12/31/2012 13:00,-4.6,-6.6,86,4,12.9,100.63,Snow

In [40]:
weather_data['Wind Speed_km/h'].value_counts()

9     830
11    791
13    735
15    719
7     677
17    666
19    616
6     609
20    496
4     474
22    439
24    374
0     309
26    242
28    205
30    161
32    139
33     85
35     53
37     45
39     24
41     22
44     14
43     13
48     13
46     11
52      7
57      5
50      4
2       2
63      1
54      1
70      1
83      1
Name: Wind Speed_km/h, dtype: int64

In [42]:
weather_data.groupby('Wind Speed_km/h').get_group(4)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,01-01-2012,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-2012,-1.8,-3.7,87,4,8.0,101.24,Fog
96,01-05-2012,-8.8,-11.7,79,4,9.7,100.32,Snow
101,01-05-2012,-7.0,-9.5,82,4,4.0,100.19,Snow
146,01-07-2012,-8.1,-11.1,79,4,19.3,100.15,Cloudy
...,...,...,...,...,...,...,...,...
8768,12/31/2012 8:00,-8.6,-10.3,87,4,3.2,101.14,Snow Showers
8769,12/31/2012 9:00,-8.1,-9.6,89,4,2.4,101.09,Snow
8770,12/31/2012 10:00,-7.4,-8.9,89,4,6.4,101.05,"Snow,Fog"
8772,12/31/2012 12:00,-5.8,-7.5,88,4,12.9,100.78,Snow
8773,12/31/2012 13:00,-4.6,-6.6,86,4,12.9,100.63,Snow

Find all the null values in the data.

In [43]:
weather_data.isnull()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
8779,False,False,False,False,False,False,False,False
8780,False,False,False,False,False,False,False,False
8781,False,False,False,False,False,False,False,False
8782,False,False,False,False,False,False,False,False
8783,False,False,False,False,False,False,False,False

In [46]:
weather_data.isnull().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

How to rename the column weather to weather condition

In [51]:
weather_data.rename(columns={'Weather':'Weather condition'},inplace=True)

In [52]:
weather_data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather condition
0,01-01-2012,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-2012,-1.8,-3.7,87,4,8.0,101.24,Fog

What is the mean of Visibility

In [55]:
weather_data['Visibility_km'].mean()

27.66444672131151

What is the standard deviation of pressure in the data?

In [58]:
weather_data['Press_kPa'].std()

0.8440047459486474

variance of relative humidity

In [59]:
weather_data['Rel Hum_%'].var()

286.2485501984998

Find all instances when snow is recorded

In [69]:
weather_data[weather_data['Weather condition'].str.contains('Snow')]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather condition
41,01-02-2012,-2.1,-9.5,57,22,25.0,99.66,Snow Showers
44,01-02-2012,-5.6,-13.4,54,24,25.0,100.07,Snow Showers
45,01-02-2012,-5.8,-12.8,58,26,25.0,100.15,Snow Showers
47,01-02-2012,-7.4,-14.1,59,17,19.3,100.27,Snow Showers
48,01-03-2012,-9.0,-16.0,57,28,25.0,100.35,Snow Showers
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [65]:
weather_data.groupby('Weather condition').get_group('Snow')

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather condition
55,01-03-2012,-14.0,-19.5,63,19,25.0,100.95,Snow
84,01-04-2012,-13.7,-21.7,51,11,24.1,101.25,Snow
86,01-04-2012,-11.3,-19.0,53,7,19.3,100.97,Snow
87,01-04-2012,-10.2,-16.3,61,11,9.7,100.89,Snow
88,01-04-2012,-9.4,-15.5,61,13,19.3,100.79,Snow
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [64]:
weather_data['Weather condition'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Snow,Ice Pellets                              6
Snow,Haze                                     5
Snow Showers,Fog                              4
Freezing Rain,Fog                             4
Freezing Fog                                  4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Rain,Haze                                     3
Thunderstorms,Rain                            3
Freezing Drizzle,Haze                         3
Thunderstorms,Rain Showers,Fog                3
Thunderstorms                                 2
Rain Showers,Snow Showers                     2
Moderate Snow,Blowing Snow                    2
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Freezing Rain,Ice Pellets,Fog                 1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Heavy Rain Showers              1
Moderate Rain,Fog                             1
Thunderstorms,Rain,Fog                        1
Rain Showers,Fog                              1
Drizzle,Ice Pellets,Fog                       1
Rain,Ice Pellets                              1
Rain,Snow,Fog                                 1
Snow Pellets                                  1
Freezing Rain,Snow Grains                     1
Rain,Snow Grains                              1
Name: Weather condition, dtype: int64

find all instances when wind speed is above 24 and visibility is 25

In [72]:
weather_data[(weather_data['Wind Speed_km/h']>24) & (weather_data['Visibility_km']==25)]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather condition
23,01-01-2012,5.3,2.0,79,30,25.0,99.31,Cloudy
24,01-02-2012,5.2,1.5,77,35,25.0,99.26,Rain Showers
25,01-02-2012,4.6,0.0,72,39,25.0,99.26,Cloudy
26,01-02-2012,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
27,01-02-2012,3.7,-1.5,69,33,25.0,99.30,Mostly Cloudy
...,...,...,...,...,...,...,...,...
8705,12/28/2012 17:00,-8.6,-12.0,76,26,25.0,101.34,Mainly Clear
8753,12/30/2012 17:00,-12.1,-15.8,74,28,25.0,101.26,Mainly Clear
8755,12/30/2012 19:00,-13.4,-16.5,77,26,25.0,101.47,Mainly Clear
8759,12/30/2012 23:00,-12.1,-15.1,78,28,25.0,101.52,Mostly Cloudy
8760,12/31/2012 0:00,-11.1,-14.4,77,26,25.0,101.51,Cloudy

What is the mean of each column against each weather condition

In [78]:
weather_data.groupby('Weather condition').mean().head(3)

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
Weather condition,,,,,,
Clear,6.825716,0.089367,64.497738,10.557315,30.153243,101.587443
Cloudy,7.970544,2.375810,69.592593,16.127315,26.625752,100.911441
Drizzle,7.353659,5.504878,88.243902,16.097561,17.931707,100.435366

what is the minium and maxium for each column against weather.

In [77]:
weather_data.groupby('Weather condition').min().head(3)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
Weather condition,,,,,,,
Clear,01-03-2012,-23.3,-28.5,20,0,11.3,99.52
Cloudy,01-01-2012,-21.4,-26.8,18,0,11.3,98.39
Drizzle,05-01-2012,1.1,-0.2,74,0,6.4,97.84

In [76]:
weather_data.groupby('Weather condition').max().head(3)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
Weather condition,,,,,,,
Clear,9/28/2012 4:00,32.8,20.4,99,33,48.3,103.63
Cloudy,9/30/2012 9:00,30.5,22.6,99,54,48.3,103.65
Drizzle,9/30/2012 3:00,18.8,17.7,96,30,25.0,101.56

In [80]:
weather_data.groupby('Weather condition').head(10)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather condition
0,01-01-2012,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-2012,-1.8,-3.7,87,4,8.0,101.24,Fog
2,01-01-2012,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,01-01-2012,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,01-01-2012,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8688,12/28/2012 0:00,-4.2,-5.7,89,19,8.0,100.78,"Freezing Drizzle,Snow"
8689,12/28/2012 1:00,-4.4,-6.6,85,15,6.4,100.83,"Freezing Drizzle,Snow"
8723,12/29/2012 11:00,-10.9,-12.2,90,7,6.4,101.09,"Snow Showers,Fog"
8724,12/29/2012 12:00,-10.5,-11.6,92,11,8.0,100.93,"Snow Showers,Fog"
8725,12/29/2012 13:00,-10.0,-11.1,92,22,9.7,100.63,"Snow Showers,Fog"

Show all records where weather is foggy

In [81]:
weather_data[weather_data['Weather condition']=='Fog']

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather condition
0,01-01-2012,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-2012,-1.8,-3.7,87,4,8.0,101.24,Fog
4,01-01-2012,-1.5,-3.3,88,7,4.8,101.23,Fog
5,01-01-2012,-1.4,-3.3,87,9,6.4,101.27,Fog
6,01-01-2012,-1.5,-3.1,89,7,6.4,101.29,Fog
...,...,...,...,...,...,...,...,...
8716,12/29/2012 4:00,-16.0,-17.2,90,6,9.7,101.25,Fog
8717,12/29/2012 5:00,-14.8,-15.9,91,4,6.4,101.25,Fog
8718,12/29/2012 6:00,-13.8,-15.3,88,4,9.7,101.25,Fog
8719,12/29/2012 7:00,-14.8,-16.4,88,7,8.0,101.22,Fog
8722,12/29/2012 10:00,-12.0,-13.3,90,7,6.4,101.15,Fog

In [82]:
weather_data.groupby('Weather condition').get_group('Fog')

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather condition
0,01-01-2012,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-2012,-1.8,-3.7,87,4,8.0,101.24,Fog
4,01-01-2012,-1.5,-3.3,88,7,4.8,101.23,Fog
5,01-01-2012,-1.4,-3.3,87,9,6.4,101.27,Fog
6,01-01-2012,-1.5,-3.1,89,7,6.4,101.29,Fog
...,...,...,...,...,...,...,...,...
8716,12/29/2012 4:00,-16.0,-17.2,90,6,9.7,101.25,Fog
8717,12/29/2012 5:00,-14.8,-15.9,91,4,6.4,101.25,Fog
8718,12/29/2012 6:00,-13.8,-15.3,88,4,9.7,101.25,Fog
8719,12/29/2012 7:00,-14.8,-16.4,88,7,8.0,101.22,Fog
8722,12/29/2012 10:00,-12.0,-13.3,90,7,6.4,101.15,Fog

In [84]:
weather_data['Weather condition'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Snow,Ice Pellets                              6
Snow,Haze                                     5
Snow Showers,Fog                              4
Freezing Rain,Fog                             4
Freezing Fog                                  4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Rain,Haze                                     3
Thunderstorms,Rain                            3
Freezing Drizzle,Haze                         3
Thunderstorms,Rain Showers,Fog                3
Thunderstorms                                 2
Rain Showers,Snow Showers                     2
Moderate Snow,Blowing Snow                    2
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Freezing Rain,Ice Pellets,Fog                 1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Heavy Rain Showers              1
Moderate Rain,Fog                             1
Thunderstorms,Rain,Fog                        1
Rain Showers,Fog                              1
Drizzle,Ice Pellets,Fog                       1
Rain,Ice Pellets                              1
Rain,Snow,Fog                                 1
Snow Pellets                                  1
Freezing Rain,Snow Grains                     1
Rain,Snow Grains                              1
Name: Weather condition, dtype: int64

find all the instances where weather is clear or visibility is above 40

In [87]:
weather_data[(weather_data['Weather condition']=='Clear') | (weather_data['Visibility_km']>40)]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather condition
67,01-03-2012,-16.9,-24.8,50,24,25.0,101.74,Clear
106,01-05-2012,-6.0,-10.0,73,17,48.3,100.45,Mainly Clear
107,01-05-2012,-5.6,-10.2,70,22,48.3,100.41,Mainly Clear
108,01-05-2012,-4.7,-9.6,69,20,48.3,100.38,Mainly Clear
109,01-05-2012,-4.4,-9.7,66,26,48.3,100.40,Mainly Clear
...,...,...,...,...,...,...,...,...
8749,12/30/2012 13:00,-12.4,-16.2,73,37,48.3,100.92,Mostly Cloudy
8750,12/30/2012 14:00,-11.8,-16.1,70,37,48.3,100.96,Mainly Clear
8751,12/30/2012 15:00,-11.3,-15.6,70,32,48.3,101.05,Mainly Clear
8752,12/30/2012 16:00,-11.4,-15.5,72,26,48.3,101.15,Mainly Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

Find all instances where weather is clear and relative humidity is greater than 50 or visibility is above 40

In [89]:
weather_data[((weather_data['Weather condition']=='Clear') & (weather_data['Rel Hum_%']>50)) | (weather_data['Visibility_km']>40)]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather condition
106,01-05-2012,-6.0,-10.0,73,17,48.3,100.45,Mainly Clear
107,01-05-2012,-5.6,-10.2,70,22,48.3,100.41,Mainly Clear
108,01-05-2012,-4.7,-9.6,69,20,48.3,100.38,Mainly Clear
109,01-05-2012,-4.4,-9.7,66,26,48.3,100.40,Mainly Clear
110,01-05-2012,-5.1,-10.7,65,22,48.3,100.46,Mainly Clear
...,...,...,...,...,...,...,...,...
8749,12/30/2012 13:00,-12.4,-16.2,73,37,48.3,100.92,Mostly Cloudy
8750,12/30/2012 14:00,-11.8,-16.1,70,37,48.3,100.96,Mainly Clear
8751,12/30/2012 15:00,-11.3,-15.6,70,32,48.3,101.05,Mainly Clear
8752,12/30/2012 16:00,-11.4,-15.5,72,26,48.3,101.15,Mainly Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear